@import "tailwindcss";

@theme {
  --color-primary-50: #f0fdf4;
  --color-primary-500: #22c55e;
  --color-primary-600: #16a34a;
  --color-primary-700: #15803d;
  --color-primary-800: #166534;
  --color-primary-900: #14532d;
  --color-accent-400: #38bdf8;
  --color-accent-500: #0ea5e9;
  --font-family-sans: 'Inter', sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #16a34a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #15803d;
}